.movie_card {
  display: flex;
}

.image {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.movie_info {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info_item {
  font-weight: 700;
  color: green;
  font-size: 15px;
  text-transform: uppercase;
}

.info_sum {
  margin-left: 5px;
  font-weight: 400;
  color: #2a363b;
  font-size: 15px;
  text-transform: none;
}
